* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.active {
  background-color: #ffffff;
}

#black {
  color: #000000;
}

.header {
  background-image: url(https://github.com/budiong054/DuFanvar_Project/blob/main/Images/green_vegetation.png?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  top: 0;
}

.header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header_container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 45%;
}

.header .header_container-wrap__logo {
  -ms-flex-preferred-size: 22.5%;
      flex-basis: 22.5%;
  height: 95%;
}

.header .header_container-wrap__logo img {
  width: 100%;
}

.header .header_container-wrap__nav-bar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 19%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header_container-wrap__nav-bar ul {
  background-color: #000000;
  border-radius: 4px;
}

.header .header_container-wrap__nav-bar ul li {
  display: inline-block;
  padding: 8px 15px;
  list-style: none;
}

.header .header_container-wrap__nav-bar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8vw;
  line-height: 28px;
}

.header .header_container .menu {
  display: none;
}

.header .header_mobile_nav_container {
  font-family: 'Poppins', sans-serif;
  display: none;
}

.btn {
  color: #ffffff;
  background: #1976d2;
  border-radius: 10px 10px 10px 0;
  border: none;
}

.footer {
  width: 100%;
  color: #ffffff;
  margin-top: 4.5%;
}

.footer-wrap {
  background-color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

.footer-wrap h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 70px;
}

.footer-wrap p {
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
}

.footer-wrap__form {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-top: 3.5%;
}

.footer-wrap__form .input {
  width: 225px;
  height: 40px;
  padding: 5px 15px;
  border-radius: 10px 10px 10px 0px;
  margin: 3px 0px;
  border: none;
  outline: none;
}

.footer-wrap__form .textarea {
  outline: none;
  border-radius: 10px 10px 10px 0px;
  padding: 20px 15px;
  margin-top: 20px;
  width: 300px;
  border: none;
  height: 150px;
}

.footer-wrap__form .submit {
  display: block;
  background-color: #333333;
  color: #ffffff;
  padding: 10px 15px;
  width: 125px;
  margin-top: 10px;
}

.footer-wrap__site-map {
  -ms-flex-preferred-size: 22.5%;
      flex-basis: 22.5%;
  margin-top: 3.5%;
  padding-left: 7.5%;
}

.footer-wrap__site-map ul {
  margin-top: 20px;
}

.footer-wrap__site-map ul li {
  list-style: none;
}

.footer-wrap__site-map ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 42px;
}

.footer-wrap__contact {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-top: 3.5%;
  padding-left: 5%;
  text-align: center;
}

.footer-wrap__contact [class^="footer-wrap__contact__"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrap__contact a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer_copyright {
  height: 55px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header {
    position: relative;
    top: 0;
  }
  .header .header_container-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 20px;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .header .header_container-wrap__logo {
    width: 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header_container-wrap__logo img {
    width: 100%;
  }
  .header .header_container-wrap__nav-bar {
    display: none;
  }
  .header .header_container-wrap .menu {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    color: #ffffff;
    width: 24.5px;
    height: 24.5px;
  }
  .header .header_mobile_nav_container {
    background-color: #fcf7f7;
    -webkit-box-shadow: inset 0px 4px 4px #9E9B9B;
            box-shadow: inset 0px 4px 4px #9E9B9B;
    width: 100%;
    height: 100vh;
    margin-left: -200%;
    font-family: "Poppins", sans-serif;
    position: fixed;
    top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: block;
    z-index: 100;
  }
  .header .header_mobile_nav_container-wrap__logo {
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 65px;
  }
  .header .header_mobile_nav_container-wrap__logo .mobile_figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header_mobile_nav_container-wrap__logo .mobile_figure img {
    margin-left: -10px;
  }
  .header .header_mobile_nav_container-wrap__logo .mobile_figure .mobile_logo_text {
    color: white;
    margin-left: -25px;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .header .header_mobile_nav_container-wrap__logo .mobile_close {
    padding: 20px;
  }
  .header .header_mobile_nav_container-wrap__nav-bar {
    background-color: rgba(0, 0, 0, 0.85);
    height: calc(100vh - 65px);
    overflow: auto;
  }
  .header .header_mobile_nav_container ul li {
    list-style: none;
    padding: 17.5px 65px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .header .header_mobile_nav_container ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
  }
  .header .header_mobile_nav_container ul li:last-child {
    border: none;
  }
  .footer .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1190px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer-wrap__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2.5%;
    width: 80%;
    text-align: center;
  }
  .footer .footer-wrap__form .input {
    width: 100%;
  }
  .footer .footer-wrap__form .textarea {
    width: 100%;
  }
  .footer .footer-wrap__form .submit {
    width: 40%;
  }
  .footer .footer-wrap__site-map {
    margin-top: 50px;
    width: 80%;
    text-align: center;
    padding-left: 0%;
  }
  .footer .footer-wrap__contact {
    width: 80%;
    text-align: center;
    padding-left: 0;
    margin-top: 30px;
  }
  .footer .footer_copyright {
    width: 100%;
    text-align: center;
  }
}

.header {
  height: calc(100vh - 76px);
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.mini-header {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.mini-header h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 40px;
  color: #1976d2;
}

@media (max-width: 768px) {
  .header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.dufanvar__contact {
  background-color: #000000;
  height: 880px;
  margin-bottom: -5%;
}

.dufanvar__contact__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dufanvar__contact__logo .figure {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dufanvar__contact__logo .figure img {
  width: 100%;
}

.dufanvar__contact__logo .figure .logo-text {
  color: #ffffff;
  margin-left: -27.5%;
}

.dufanvar__contact__logo .figure .logo-text h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 70px;
}

.dufanvar__contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  width: 100%;
  height: 700px;
  margin-top: -6.5%;
}

.dufanvar__contact__form-one {
  background-color: #1976d2;
  -ms-flex-preferred-size: 37.5%;
      flex-basis: 37.5%;
  border-radius: 10px 10px 10px 0;
  height: 550px;
  padding-left: 5%;
}

.dufanvar__contact__form-one h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 56px;
  margin: 20px 0px;
}

.dufanvar__contact__form-one .input {
  width: 250px;
  height: 40px;
  padding: 5px 15px;
  border-radius: 10px 10px 10px 0px;
  margin: 3px 0px;
  border: none;
  outline: none;
  display: block;
}

.dufanvar__contact__form-one .textarea {
  border-radius: 10px 10px 10px 0px;
  padding: 20px 15px;
  margin-top: 20px;
  width: 300px;
  border: none;
  height: 150px;
  outline: none;
  display: block;
}

.dufanvar__contact__form-one .submit {
  display: block;
  background-color: #333333;
  color: #ffffff;
  padding: 10px 15px;
  width: 125px;
  margin-top: 10px;
}

.dufanvar__contact__form-two {
  -ms-flex-preferred-size: 37.5%;
      flex-basis: 37.5%;
  margin-left: 5%;
}

.dufanvar__contact__form-two a {
  text-decoration: none;
}

.dufanvar__contact__form-two h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 70px;
  margin-bottom: 20px;
}

.dufanvar__contact__form-two_tel, .dufanvar__contact__form-two_mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dufanvar__contact__form-two .label {
  display: block;
  margin-left: 2%;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 12.5px;
}

.dufanvar__contact__form-two .small_label {
  font-size: 20px;
  margin-bottom: 7.5;
}

@media (max-width: 600px) {
  .mini-header h2 {
    font-size: 2rem;
  }
  .dufanvar__contact {
    height: 1000px;
  }
  .dufanvar__contact__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dufanvar__contact__logo .figure {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .dufanvar__contact__logo img {
    width: 60%;
  }
  .dufanvar__contact__logo .logo-text {
    display: none;
    color: #ffffff;
  }
  .dufanvar__contact__logo .logo-text h2 {
    font-size: 1.75rem;
  }
  .dufanvar__contact__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 750px;
    margin-top: 0;
  }
  .dufanvar__contact__form-one {
    width: 80%;
  }
  .dufanvar__contact__form-one .input {
    width: 80%;
  }
  .dufanvar__contact__form-one .textarea {
    width: 90%;
  }
  .dufanvar__contact__form-one .submit {
    margin-bottom: 20px;
  }
  .dufanvar__contact__form-two {
    width: 80%;
    margin-left: 0;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=contact_style.css.map */