$roboto: 'Roboto', sans-serif;
$quantico: 'Quantico', sans-serif;
$poppins: 'Poppins', sans-serif;
$primary-color: #000000;
$secondary-color: #ffffff;
$teritary-color: #1976d2;
$footer-color: #666666;
$dark-color: #333333;
$advance-color: #fffbfb;
$button-color: #4caf50;
$mobile: 768px;
$laptop: 1250px;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: $poppins;
    font-style: normal;
}