$roboto: 'Roboto', sans-serif;
$quantico: 'Quantico', sans-serif;
$poppins: 'Poppins', sans-serif;
$primary-color: #000000;
$secondary-color: #ffffff;
$teritary-color: #1976d2;
$footer-color: #666666;
$dark-color: #333333;
$advance-color: #fffbfb;
$mobile: 768px;
$laptop: 1250px;
$lh-1: 27px;
$fs-1: 16px;