@import 'config';
@import 'utilities';
@import 'utilities_header';


.dufanvar_service{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 42px;
        color: rgba($color: #000000, $alpha: 0.6);
    }

    &_container{
        display: flex;
        justify-content: center;

        &_image{
            flex-basis: 40%;
            padding-bottom: 5%;
        

            img{
                width: 100%;
            }
        }

        &_article{
            flex-basis: 40%;
            padding-left: 5%;

        }
    }

    &_container_article_cont{
        width: 80%;
        margin-top: -3.5%;
    }


}

@media (max-width:$mobile){

    .mini-header{

        h2{
        font-weight: 500;
        font-size: 32.5px;
        line-height: 40px;
        color: $teritary-color;
        }
    }

    

    .dufanvar_service{

        p{
            line-height: 35px;
            font-size: 1em;
            color: rgba($color: #000000, $alpha: 0.7);
            text-align: center;
            
        }

        &_container{
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &_image{
                width: 80%;
                img{
                    width: 100%;
                }

            }

            &_article{
                flex-basis: 80%;
                border: #000000 2px solid;
                display: none;
            
            }

        }

        &_container_article_cont{
            width: 80%;
            margin-top: 0%;
        }
    }
}

@media (max-width:320px){
    .mini-header{

        h2{
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        color: $teritary-color;
        }
    }

}